/* CSS Components */
@import "./Components/css/bookcard.css";
@import "./Components/css/navbar.css";
@import "./Components/css/colors.css";

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fira Sans", sans-serif;
}
