/* colors.css */
:root{
  --purple-mountain-majestic: #8d80ad;
  --dark-purple: #2e283e;
  --celeste: #9dfff9;
  --rich-black: #002926;
  --spring-green: #64f58d;
  --dark-green: #02260d;
  --login-background: #d6d6d6;
}