/* colors.css */

.purple-mountain-majestic {
  color: #8d80ad;
}
.dark-purple {
  color: #2e283e;
}
.celeste {
  color: #9dfff9;
}
.rich-black {
  color: #002926;
}
.spring-green {
  color: #64f58d;
}
.dark-green {
  color: #02260d;
}
